<div class="flexcontainer">
  <div class="container1">
    Select Villages-选择村庄
    <div class="geologyDropdownList">
      <mat-form-field>
        <mat-label>Province 省</mat-label>
        <mat-select
          [(ngModel)]="provinceSearch"
          (ngModelChange)="changeProvince($event)"
        >
          <mat-option *ngFor="let province of provinceList" [value]="province">
            {{ province }}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <p>Selected value: {{ provinceSearch }}</p>

      <mat-form-field>
        <mat-label>City 市</mat-label>
        <mat-select
          [(ngModel)]="citySearch"
          (ngModelChange)="changeCity($event)"
        >
          <mat-option *ngFor="let city of cityList" [value]="city">
            {{ city }}
          </mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field>
        <mat-label>County 县</mat-label>
        <mat-select
          [(ngModel)]="countySearch"
          (ngModelChange)="changeCounty($event)"
        >
          <mat-option *ngFor="let county of countyList" [value]="county">
            {{ county }}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>

    <br /><br />
    <mat-form-field>
      <mat-label>按any筛选</mat-label>
      <input matInput (keyup)="applyFilter($event)" #input />
    </mat-form-field>

    <br />

    <div class="title">
      <label>选择</label>
      <label>村庄名字</label>
      <label>省</label>
      <label>市</label>
      <label>县</label>
    </div>
    <div>
      <mat-checkbox class="selectall">选择所有-Select All</mat-checkbox>
    </div>
    <div class="villageselectionlist">
      <table class="villagetable" mat-table [dataSource]="options">
        <!--  checkbox column  -->
        <ng-container matColumnDef="checked">
          <th mat-header-cell *matHeaderCellDef>选择</th>
          <mat-cell *matCellDef="let element">
            <mat-checkbox
              (change)="checkBoxValue($event, element)"
            ></mat-checkbox>
          </mat-cell>
        </ng-container>
        <!-- Provice Column -->
        <ng-container matColumnDef="name">
          <th mat-header-cell *matHeaderCellDef>村庄名字</th>
          <td mat-cell *matCellDef="let element">{{ element.name }}</td>
        </ng-container>

        <!-- Name Column -->
        <ng-container matColumnDef="province">
          <th mat-header-cell *matHeaderCellDef>省</th>
          <td mat-cell *matCellDef="let element">{{ element.province }}</td>
        </ng-container>

        <!-- Weight Column -->
        <ng-container matColumnDef="city">
          <th mat-header-cell *matHeaderCellDef>市</th>
          <td mat-cell *matCellDef="let element">{{ element.city }}</td>
        </ng-container>

        <!-- Symbol Column -->
        <ng-container matColumnDef="county">
          <th mat-header-cell *matHeaderCellDef>县</th>
          <td mat-cell *matCellDef="let element">{{ element.county }}</td>
        </ng-container>

        <!--      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>-->
        <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
      </table>
    </div>
    <div class="villageselected">已选村庄-Selected Villages</div>
    <ng-container *ngFor="let item of checkItems | keyvalue">
      <p>
        {{ item.value.name }} {{ item.value.province }} {{ item.value.city }}
        {{ item.value.county }}
      </p>
    </ng-container>
    <div class="villageselectedlist"></div>
  </div>

  <div class="container2">
    选择主题-Select Topics
    <div class="topics">
      <mat-tab-group animationDuration="0ms">
        <mat-tab label="经济">
          <div class="economy">
            <div class="category">
              <div class="left">
                类别
                <!--                <mat-checkbox (change)="log($event)">选择所有</mat-checkbox>-->
                <p>经济下类别</p>

                <mat-checkbox (change)="middleCheckBox($event)"
                  >选择所有</mat-checkbox
                >
                <mat-checkbox name="总产值" (change)="middleCheckBox($event)"
                  >总产值</mat-checkbox
                >
                <mat-checkbox name="集体经济" (change)="middleCheckBox($event)"
                  >集体经济</mat-checkbox
                >
                <mat-checkbox name="电价" (change)="middleCheckBox($event)"
                  >电价</mat-checkbox
                >
                <mat-checkbox name="用电量" (change)="middleCheckBox($event)"
                  >用电量</mat-checkbox
                >
                <mat-checkbox name="耕地面积" (change)="middleCheckBox($event)"
                  >耕地面积</mat-checkbox
                >
                <mat-checkbox
                  name="粮食总产量"
                  (change)="middleCheckBox($event)"
                  >粮食总产量</mat-checkbox
                >
                <mat-checkbox name="人均收入" (change)="middleCheckBox($event)"
                  >人均收入</mat-checkbox
                >
                <mat-checkbox
                  name="人均居住面积"
                  (change)="middleCheckBox($event)"
                  >人均居住面积</mat-checkbox
                >
              </div>
              <div class="middle">子类1</div>
              <div class="right">子类2</div>
            </div>
          </div>
        </mat-tab>
        <mat-tab label="第一次购买或拥有年份"
          >第一次购买或拥有年份

          <div class="economy">
            <div class="category">
              <div class="left">
                类别
                <mat-checkbox (change)="middleCheckBox($event)"
                  >选择所有</mat-checkbox
                >
                <mat-checkbox name="液化气" (change)="middleCheckBox($event)"
                  >液化气
                </mat-checkbox>
                <mat-checkbox name="管道燃气" (change)="middleCheckBox($event)"
                  >管道燃气</mat-checkbox
                >
                <mat-checkbox name="天然气" (change)="middleCheckBox($event)"
                  >天然气
                </mat-checkbox>
                <mat-checkbox name="自来水" (change)="middleCheckBox($event)"
                  >自来水
                </mat-checkbox>
                <mat-checkbox name="供电" (change)="middleCheckBox($event)"
                  >供电</mat-checkbox
                >
                <mat-checkbox name="电视机" (change)="middleCheckBox($event)"
                  >电视机
                </mat-checkbox>
                <mat-checkbox name="电话机" (change)="middleCheckBox($event)"
                  >电话机
                </mat-checkbox>
                <mat-checkbox name="有线广播" (change)="middleCheckBox($event)"
                  >有线广播
                </mat-checkbox>
              </div>
              <div class="middle">子类1</div>
              <div class="right">子类2</div>
            </div>
          </div>
        </mat-tab>
        <mat-tab label="人口">人口</mat-tab>
        <mat-tab label="军事">军事</mat-tab>
        <mat-tab label="计划生育">计划生育</mat-tab>
        <mat-tab label="教育">教育</mat-tab>
        <mat-tab label="政治">政治</mat-tab>
        <mat-tab label="姓氏">姓氏</mat-tab>
        <mat-tab label="自然环境">自然环境</mat-tab>
        <mat-tab label="自然灾害">自然灾害</mat-tab>
      </mat-tab-group>
    </div>

    <div class="topicselectedlist">
      已选主题-Selected Topics
      <hr />
      <p>已选 {{ tempcheckItems.length }}</p>
      <div *ngFor="let item of tempcheckItems">
        <div id="itemTemp">
          {{ item }}
          <br />
        </div>
      </div>
    </div>
  </div>

  <div class="container3">
    选择时间-Select Time

    <div class="yearselect">年份-Year</div>
    <div class="singleyear">
      <div class="yearselectionlist">
        <mat-checkbox>全选</mat-checkbox>
        <mat-checkbox name="1949" (change)="middleCheckBox($event)"
          >1949</mat-checkbox
        >
        <mat-checkbox name="1950" (change)="middleCheckBox($event)"
          >1950</mat-checkbox
        >
        <mat-checkbox name="1951" (change)="middleCheckBox($event)"
          >1951</mat-checkbox
        >
        <mat-checkbox name="1952" (change)="middleCheckBox($event)"
          >1952</mat-checkbox
        >
        <mat-checkbox name="1953" (change)="middleCheckBox($event)"
          >1953</mat-checkbox
        >
        <mat-checkbox name="1954" (change)="middleCheckBox($event)"
          >1954</mat-checkbox
        >
        <mat-checkbox name="1955" (change)="middleCheckBox($event)"
          >1955</mat-checkbox
        >
        <mat-checkbox name="1956" (change)="middleCheckBox($event)"
          >1956</mat-checkbox
        >
        <mat-checkbox name="1957" (change)="middleCheckBox($event)"
          >1957</mat-checkbox
        >
      </div>
      <div class="yearselectedlist">
        已选年份-Selected Single Year
        <p>已选 {{ rightToptempcheckItems.length }}</p>
        <div *ngFor="let rightitem of rightToptempcheckItems">
          <p>{{ rightitem }}</p>
        </div>
      </div>
    </div>

    <div class="yearrangeselect">年段-Year Range</div>
    <div class="yearrange">
      <input
        type="text"
        class="inputTearField"
        placeholder="输入开始年份， 例如1949"
        (keyup)="onInputStartYearField($event)"
      />
      <div>
        <mat-icon>check_circle_outline </mat-icon
        ><span class="aligned-with-icon">可选年份: 1949至2019</span>
      </div>
      至
      <input
        type="text"
        class="inputTearField"
        placeholder="输入结束年份， 晚于开始年份"
        (keyup)="onInputEndYearField($event)"
        #searchCollectorInput
      />

      <div>
        <mat-icon>check_circle_outline </mat-icon
        ><span class="aligned-with-icon">结束年份晚于开始年份</span>
      </div>

      <button
        mat-raised-button
        color="primary"
        class="addYear"
        (click)="addInputYears()"
      >
        添加 - Add
      </button>

      <div class="yearselectedlist" #myYearDiv>
        已选年段-Selected Year Range
      </div>
    </div>
  </div>
</div>

<button mat-raised-button color="warn" (click)="resetAll()">
  重置所有筛选项 - Reset
</button>
<button mat-raised-button class="multiSearch" (click)="goToPage()">
  搜索 - Search
</button>

<!-- <button (click)="goToPage()">
  <span>Go to Page</span>
</button> -->
