<div class="flexcontainer">
    <div class="container1">Select Villages-选择村庄
        <div class="geologyDropdownList">
            <mat-form-field>
                <mat-label>Province 省</mat-label>
                <mat-select [(ngModel)]="selectedValue" (ngModelChange)="changeProvince($event)">
                    <mat-option *ngFor="let province of provinceList" [value]="province">
                        {{province}}
                    </mat-option>
                </mat-select>

            </mat-form-field>
            <p> Selected value: {{selectedValue}} </p>

            <mat-form-field>
                <mat-label>City 市</mat-label>
                <mat-select [(ngModel)]="selectedValue" (ngModelChange)="changeCity($event)">
                    <mat-option *ngFor="let city of cityList" [value]="city">
                        {{city}}
                    </mat-option>
                </mat-select>
            </mat-form-field>

            <mat-form-field>
                <mat-label>County 县</mat-label>
                <mat-select [(ngModel)]="selectedValue" (ngModelChange)="changeCounty($event)">
                    <mat-option *ngFor="let county of countyList" [value]="county">
                        {{county}}
                    </mat-option>
                </mat-select>
            </mat-form-field>

        </div>

        <div>Village Name: <input type="text" [(ngModel)]="villageSearch"></div>
        <div>Province Name: <input type="text" [(ngModel)]="provinceSearch"></div>
        <div>City Name: <input type="text" [(ngModel)]="citySearch"></div>
        <div>County Name: <input type="text" [(ngModel)]="countySearch"></div>
        <!--
        <table>
            <tr>
                <th>province name</th>
            </tr>
            <tr *ngFor="let total of totalList | villagesearch: provinceSearch: citySearch: countySearch: villageSearch">
                <td>{{total.name}}</td>
                <td>{{total.province}}</td>
                <td>{{total.city}}</td>
                <td>{{total.county}}</td>
            </tr>
        </table> -->



        <br><br>
        <mat-form-field>
            <mat-label>按any筛选</mat-label>
            <input matInput (keyup)="applyFilter($event)" #input>

        </mat-form-field>

        <!-- <div class="searchinput">
            <button class="nssx" mat-button [matMenuTriggerFor]="nssx">按村名筛选&nbsp;<i class="arrowdown"></i></button>
            <mat-menu #nssx="matMenu">
                <button mat-menu-item>按市筛选</button>
                <button mat-menu-item>按省筛选</button>
                <button mat-menu-item>按县筛选</button>
            </mat-menu>
            <input type="text" class="userinputtext">
        </div> -->

        <br>

        <div class="title">
            <label>选择</label>
            <label>村庄名字</label>
            <label>省</label>
            <label>市</label>
            <label>县</label>
        </div>
        <div>
            <mat-checkbox class="selectall">选择所有-Select All</mat-checkbox>
        </div>
        <div class="villageselectionlist">

            <table class="villagetable" mat-table [dataSource]="options">

                <!--  checkbox column  -->
                <ng-container matColumnDef="checked">
                    <th mat-header-cell *matHeaderCellDef>选择</th>
                    <mat-cell *matCellDef="let element">
                        <mat-checkbox></mat-checkbox>
                    </mat-cell>
                </ng-container>
                <!-- Provice Column -->
                <ng-container matColumnDef="name">
                    <th mat-header-cell *matHeaderCellDef>村庄名字</th>
                    <td mat-cell *matCellDef="let element"> {{element.name}} </td>
                </ng-container>

                <!-- Name Column -->
                <ng-container matColumnDef="province">
                    <th mat-header-cell *matHeaderCellDef>省</th>
                    <td mat-cell *matCellDef="let element"> {{element.province}} </td>
                </ng-container>

                <!-- Weight Column -->
                <ng-container matColumnDef="city">
                    <th mat-header-cell *matHeaderCellDef>市</th>
                    <td mat-cell *matCellDef="let element"> {{element.city}} </td>
                </ng-container>

                <!-- Symbol Column -->
                <ng-container matColumnDef="county">
                    <th mat-header-cell *matHeaderCellDef>县</th>
                    <td mat-cell *matCellDef="let element"> {{element.county}} </td>
                </ng-container>

                <!--      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>-->
                <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
            </table>
        </div>
        <div class="villageselected">已选村庄-Selected Villages</div>
        <div class="villageselectedlist"></div>
    </div>
</div>
